body{
    background-color: black;
}
h1{
    color: rgb(136, 136, 78);
    text-align: center;
    font-family: fantasy;
    font-size: xx-large;
    letter-spacing: 0.15ch;
}
h2 {
    color: rgb(136, 136, 78);
    font-family: fantasy;
}
h3 {
    color: rgb(136, 136, 78);
    font-family: fantasy;
    font-size: medium;
    padding-left: 5%;
}
p {
    color: rgb(136, 136, 78);
    font-family: fantasy;
}
/* w3schoolssista https://www.w3schools.com/howto/howto_css_image_center.asp */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.border {
    border: 1ch;
    border-color: rgb(55, 57, 58);
    border-style: double;
}
a:link {
    color: bisque;
}
a:visited {
    color: rgba(255, 228, 196, 0.584)
}
a:hover {
    color: darkgrey;
}
a:active {
    color: darkgoldenrod;
}
.tausta-tausta {
    background-color: rgba(75, 70, 70, 0.493);
    margin-left: 185px;
    margin-right: 0.55cm;
    margin-top: 0.55cm;
    overflow-x: hidden;
}
.banneri {
    background-color: rgba(75, 70, 70, 0.493);
    margin-left: 15%;
    margin-right: 15%;
}
.vasen-paneeli {
    height: 100%;
    position: fixed;
    background-color: rgba(75, 70, 70, 0.493);
    overflow-x: hidden;
    z-index: 1;
    top: 0.9;
    left: 0;
}
.vasen-paneeli a {
    font-size: 3ch;
}
/* https://www.w3schools.com/css/css_grid.asp */
.ruudukko {
    border: 0.5cm;
    border-style: double;
    display: grid;
    grid-template-columns: auto auto auto;
}
.ruudukko img {
    border: 0.2ch;
    border-style: inset;
    border-color: rgb(55, 57, 58);
    float: left;
}
/* myös w3schools */
.ruudukko img:hover {
    opacity: 0.4;
}
.ruudukko p {
    float: left;
    border: 0.2cm;
    border-color: darkgray;
    border-style: outset;
    background-color: bisque;
    padding: 5px;
    margin-left: 1ch;
}
.valittu {
    padding: 1cm;
    float: inline-start;
    display: flex;
}
.valittu img {
    width: 7cm;
    height: auto;
    
}
.valittu p {
    color: rgb(136, 136, 78);
    margin-left: 30%;
    margin-right: 50%;
    float: inline-start;
}
.galleria {
    display: grid;
}
.galleria img {
    margin: 00.2ch;
    border: 0.7ch;
    border-color: darkslategray;
    border-style: solid;
}

